body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: #fff;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 8px;
  width: 350px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid #00f;
  background: transparent;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #d0d0d9;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #a1bcd9;
}

/* Estilos para las opciones de registro, inicio, recuperación y demás */
.link-button, .btn-primary {
  cursor: pointer;
  color: #00f;
  text-decoration: none;
}

.link-button:hover, .btn-primary:hover {
  color: #0056b3;
  text-decoration: underline;
}

.google-register button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: #d3c4c4;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google-register button:hover {
  background-color: #373333;
}

.google-register button img {
  width: 75px;
  height: 40px;
  border-radius: 55px;
  margin-right: 8px;
}

.google-register button span {
  margin-left: 48px;
}
